body {
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user {
  width: 150px;
  height: 25px;
  border-radius: 10px;
}

#pass {
  width: 150px;
  height: 25px;
  border-radius: 10px;
}

#butt {
  width: 50px;
  height: 30px;
  border-radius: 10px;
}
